<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
    <script>
        // 检测用户语言并切换文本
        window.onload = function () {
            const userLang = navigator.language || navigator.userLanguage;
            if (userLang.startsWith('zh')) {
                document.getElementById('title').innerText = '给英文视频加上中文配音';
                // document.getElementById('upload-btn').innerText = '下一步';
                document.getElementById('youtube-placeholder').placeholder = '在这里粘贴 YouTube 链接';
                document.getElementById('upload-place').innerText = '点击这里上传或拖拽你的文件';
                document.getElementById('example').innerText = '示例';
            } else {
                document.getElementById('title').innerText = 'Dub any video in your language';
                // document.getElementById('upload-btn').innerText = 'Next';
                document.getElementById('youtube-placeholder').placeholder = 'Paste the YouTube link here.';
                document.getElementById('upload-place').innerText = 'Click to browse or Drop here';
                document.getElementById('example').innerText = 'Examples';
            }
        };

        // 实现文件拖拽上传
        function handleFileSelect(event) {
            event.preventDefault();
            document.getElementById('drop-area').style.borderColor = '#FFFAFAE5';
            document.getElementById('file-input').files = event.dataTransfer.files;  // 设置文件到隐藏的输入框
            document.getElementById('upload-form').submit();
        }

        function preventDefaults(event) {
            document.getElementById('drop-area').style.borderColor = 'green';
            event.preventDefault();
            event.stopPropagation();
        }

        function leave(event) {
            document.getElementById('drop-area').style.borderColor = '#FFFAFAE5';
            event.preventDefault();
            event.stopPropagation();
        }

        function clickDrop() {
            document.getElementById('file-input').click();
        }

        function clickExample(element) {
            document.getElementById('youtube-placeholder').value = "https://www.youtube.com/watch?v=" + element.id;
            document.getElementById('upload-form').submit();
        }

        function upload() {
            document.getElementById('upload-form').submit()
        }
    </script>

    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            background: linear-gradient(to right, rgb(233, 100, 108), rgb(140, 109, 227));
        }

        input::placeholder {
            color: #FFFFFF;
        }
    </style>
</head>
<body>

<h1 style="color: #FFFAFA;" id="title">Dub any video in your language</h1>

<!-- YouTube链接输入框 -->
<form id="upload-form" style="width: 80vw" action="/upload" method="POST" enctype="multipart/form-data">
<!--    <div style="position: relative;display: flex;justify-content: space-between;align-items: center;">-->
<!--        <svg style="position: absolute;left: 0.5rem;" fill="white" width="24" height="24"-->
<!--             xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">-->
<!--            <path d="M14.851 11.923c-.179-.641-.521-1.246-1.025-1.749-1.562-1.562-4.095-1.563-5.657 0l-4.998 4.998c-1.562 1.563-1.563 4.095 0 5.657 1.562 1.563 4.096 1.561 5.656 0l3.842-3.841.333.009c.404 0 .802-.04 1.189-.117l-4.657 4.656c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-1.952-1.951-1.952-5.12 0-7.071l4.998-4.998c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464.493.493.861 1.063 1.105 1.672l-.787.784zm-5.703.147c.178.643.521 1.25 1.026 1.756 1.562 1.563 4.096 1.561 5.656 0l4.999-4.998c1.563-1.562 1.563-4.095 0-5.657-1.562-1.562-4.095-1.563-5.657 0l-3.841 3.841-.333-.009c-.404 0-.802.04-1.189.117l4.656-4.656c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464 1.951 1.951 1.951 5.119 0 7.071l-4.999 4.998c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-.494-.495-.863-1.067-1.107-1.678l.788-.785z"/>-->
<!--        </svg>-->
<!--        <input style="background: #D9D9D91A;border: 1px solid #F7F0F0E5;border-radius: 0.625rem;width: 100%;height: 4rem;font-size: 1.5rem;color: #FFFFFF;padding-left: 3rem;padding-right: 10rem;min-width: 0;"-->
<!--               type="text" id="youtube-placeholder" name="youtube_link">-->
<!--        <button style="background: #8C6CE3;position: absolute;right: 0.5rem;height: 3rem;border: 0;border-radius: 0.625rem;padding: 0 2rem 0;font-size: 1.5rem;color: #FFFFFF;"-->
<!--                type="submit" id="upload-btn">-->
<!--            Next-->
<!--        </button>-->
<!--    </div>-->
<!--    <br><br>-->

    <!-- 文件上传按钮 -->
    <input onchange="upload()" type="file" id="file-input" name="file" style="display: none;">

    <div id="drop-area" ondrop="handleFileSelect(event)" ondragover="preventDefaults(event)" ondragleave="leave(event)" onclick="clickDrop()"
         style="cursor: pointer; width: 100%; height: 200px; font-size: 1.5rem;color: #FFFFFF; background: #E8E6E61A; border: 1px dashed #FFFAFAE5; display: flex;justify-content: center;align-items: center; text-align: center;">
        <div id="upload-place" style="height: min-content;">Click to browse or Drop here</div>
    </div>
    <br>
</form>

<h1 style="color: #FFFAFA;" id="example">Examples</h1>

<div style="width: 100%;display: flex;justify-content: space-around;">
    <img id="Hf9zfjflP_0" style="width: 25%;border-radius: 1.25rem; cursor: pointer;"
         src="https://i.ytimg.com/vi/Hf9zfjflP_0/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDilWpi3P9e35xnZTDG_paq3AcsBw"/>
    <img id="Oa0ZHfcalCM" style="width: 25%;border-radius: 1.25rem; cursor: pointer;"
         src="https://i.ytimg.com/vi/Oa0ZHfcalCM/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAfO7qkyPUEyJ19Z6_2wzU-iCCAkw"/>
    <img id="CpXlvLOyBVI" style="width: 25%;border-radius: 1.25rem; cursor: pointer;"
         src="https://i.ytimg.com/vi/CpXlvLOyBVI/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCrDNqbgYQoQBrcwuMRG-E5JhATvA"/>
</div>

</body>
</html>
